<div class="container">
    <div class="row">
<div class='card col'>
  <div class='card-header'>
    Чат кроватка
  </div>
  <div class='card-body'>
    <form name='chat' class="row justify-content-end">
      <input name='text' type='text' id='inputMessage' class='form-control' />
      <button type="button" class="my-1 col-md-3 .offset-md-3 btn-outline-info">OK</button>
    </form>
  </div>
</div>

<div class='card col'>
  <div class='card-header'>
    Кто разговаривает
  </div>
  <div class='card-body'>

  </div>
</div>
</div>
    </div>
</div>